mixin modelForm(model = {})

    form(action="/add" method="POST")

        label(for="name") Name
        input(type="text" name="name" id="name")

        label(for="description") Description
        textarea(name="description" id="description")

        - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed']
        ul
            each choice in choices
                li
                    input(type="checkbox" id=choice value=choice name="tags")
                    label(for=choice) #{choice}

        input(type="submit" value="Save →" class="button")